@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');


body{
    font-family: 'Inter', sans-serif !important;
}

.form-text{
    display: none;
}
.form-group label{
    display: none;
}



header .head{
    background: #3EC70B;
}
.header__account--btn:hover{
    color: #3EC70B;
}
.header__account--btn .items__count {
    background: #3EC70B;
}
.header__search--box .header__search--button{
    background: #3EC70B;
}
.style2 .text-white:hover{
    color: #3EC70B;
}
.header__menu--items .header__menu--link:hover{
    color: #3EC70B;
}
.offcanvas__stikcy--toolbar__list .offcanvas__stikcy--toolbar__icon{
    background: #3EC70B;
}
.offcanvas__stikcy--toolbar__label .items__count{
    background: #3EC70B;
}
.minicart__conditions--link{
    color: #3EC70B;
}
.minicart__button--link{
    background: #3EC70B;
}
.offcanvas__menu_li .offcanvas__menu_item:hover{
    background: #3EC70B;
}
.offcanvas__account--items__icon{
    background: #3EC70B;
}
.predictive__search--button{
    background: #3EC70B;
}



.swiper__nav--btn{
    background: #3EC70B;
}



.shipping__style3--icon svg{
    color: #3EC70B;
}
.readcrumb__content--menu__items a:hover{
    color: #3EC70B;
}
.readcrumb__content--menu__items span:hover{
    color: #3EC70B;
}



.section__heading--maintitle::before{
    color: #3EC70B;
}
.product__tab--primary__btn__list{
    color: #3EC70B;
}
.product__items--action__list .product__items--action__btn:hover{
    background: #3EC70B;
}
.pagination__list .pagination__item:hover{
    background: #3EC70B;
    border: #3EC70B;
}
.pagination__list .pagination__item--current{
    background: #3EC70B;
    border: #3EC70B;

}
.product__grid--column__buttons .active{
    color: #3EC70B;
    border: 0.5px solid #3EC70B;
}
.product__grid--column__buttons--icons:hover{
    border: 0.5px solid #3EC70B;
    color: #3EC70B;
}
.product__view--search__form .product__view--search__btn{
    background: #3EC70B;
}
.widget__tagcloud--list .widget__tagcloud--link:hover{
    background: #3EC70B;
    border-color: #3EC70B;
}
.price__filter--btn{
    background: #3EC70B;
}
.pagination__item--arrow:hover{
    color: #3EC70B;
}
.product__list--items__content--title .prod-details:hover{
    color: #3EC70B;
}



.btn__style3{
    background: #3EC70B;
}
.new__product--content .new__product--content__title a:hover{
    color: #3EC70B;
}
.new__product--thumbnail__link .new__product--thumbnail__img:hover{
    color: #3EC70B;
}



.banner__items--content .banner__items--content__link:hover{
    color: #3EC70B;
}



.newsletter__subscribe--button{
    background: #3EC70B;
}



.newsletter__popup--close__btn{
    background: #3EC70B;
}
.newsletter__popup--subscribe__btn{
    background: #3EC70B;
}



#scroll__top{
    background: #3EC70B;
}




.product__media--preview__items--link .product__media--preview__items--img{
    max-width: 100%;
    max-height: 40rem;
    object-fit: cover;

}
.product__media--nav__items .product__media--nav__items--img{
    max-width: 100%;
    max-height: 9rem;
    object-fit: cover;
}
.product__media--view__icon--link{
    background: #3EC70B;
}
.variant__buy--now__btn{
    background: #3EC70B;
}
.quickview__cart--btn{
    background: #3EC70B;
}
.quickview__social--icon{
    background: #3EC70B;
}
.variant__size--value:hover{
    color: #3EC70B;
}
.product__details--tab .active{
    color: #3EC70B;
}
.reviews__summary--caption{
    color: #3EC70B;
}
.primary__btn{
    background: #3EC70B;
}
.product__items--link .product__items--img{
    max-width: 100%;
    height: auto;
    max-height: 50rem;
    object-fit: cover;
}
.continue__shopping .continue__shopping--link{
    color: #3EC70B;
}
.continue__shopping .continue__shopping--clear{
    color: #3EC70B;
}
/* .product__section--inner .mb-30{
    padding: 1rem;
    border-radius: 5px;
    margin: 0px 10px 0px 10px;
} */
.team__content--subtitle{
    padding: 5px 0px;
    border-bottom: 0.5px solid rgb(243, 243, 243);
}
 .banner__items--thumbnail img{
    width: 100%;
    height: 30rem;
    object-fit: cover;
}
.product__items--link > .product__items--img{
    width: 100%;
    min-height: 10rem;
    max-height: 20rem;
    object-fit: cover;
}
.product__list--items__content--desc{
    overflow-wrap: anywhere;
}
.product__details--info__desc{
    overflow-wrap: anywhere;
}
.reviews__comment--content__desc{
    overflow-wrap: anywhere;
}
.cart__content--title{
    overflow-wrap: anywhere;
}
.cart__thumbnail  > .border-radius-5 {
    max-height: 15rem;
    width: 100%;
    object-fit: cover;
} 
.product__items--content__title > a {
    overflow-wrap: anywhere;
}
.tab_pane .product__items--content__title > a{
    overflow-wrap: anywhere;
}
.social__shear--list >.social__shear--list__icon:hover{
    color: #3EC70B;
}
.footer__widget--menu__list > .footer__widget--menu__text:hover{
    color: #3EC70B;
}
.copyright__content > .copyright__content--link:hover{
    color: #3EC70B;
}
.footer__bottom > .copyright__content{
    text-align: center;
}
.product__items--link > .product__items--img {
    width: 100%;
    min-height: 13rem;
    max-height: 15rem;
    object-fit: cover;
}
.banner__bideo--play__icon {
    background: #3EC70B;
    color: var(--white-color);

}

.counterup__banner__bg2 {
    background: url('https://cdn.pixabay.com/photo/2016/12/08/14/49/relaxing-1891879__340.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    position: relative;
}
.team__items:hover .team__thumb {
    border-color: #3EC70B;
}
.team__social--icon {
    background: #3EC70B;
    color: var(--white-color);
}
.item-option-select > input > span{
    
    padding: 2px 10px;
}

.mb--n30 > .mb-30 {
    /* margin-left: 8px; */
    margin-bottom: 30px;
}

.product__badge--items {
    background: #3EC70B;

}

@media only screen and (max-width: 507px){
    .row > * {
        padding-right: 10px;
        padding-left: 10px;
    }

    .row-cols-2 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 90%;
        height: auto;
    }
    .team__thumb--img {
        height: auto;
        width: 100%;
        object-fit: cover;
    }
}
@media only screen and (max-width: 767px){
    .row {
        margin-right: -10px;
        margin-left: -10px;
    }
    .row {
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .mb--n30 > .mb-30 {
        margin: 10px auto;
        gap: 1px;
        
    }
    .team__thumb--img {
        height: auto;
        width: 100%;
        object-fit: cover;
    }
} 

@media only screen and (min-width: 992px){
    .row-cols-lg-4 > * {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 24%;
        height: auto;
        margin-bottom: 15px;
    }
    .mb--n30 > .mb-30 {
        margin-left: auto;
        margin-bottom: 10px;
    }
    .team__thumb--img {
        height: auto;
        width: 100%;
        object-fit: cover;
    }
}
.team__thumb--img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
}
.form-control {
    display: block;
    width: 100%;
    height: 35px;
    margin: 0.5rem;
    padding: 0.375rem 0.75rem;
    font-size: 1.8rem;
}
.mpesa-btn{
    margin-bottom: 1rem;
}